* {
  /* border: solid red 1px; */
  font-family: briller,sans-serif;
  font-weight: 275;
  font-style: normal;
}

body {
  background-image: linear-gradient(#000000 15%, #4d4d4d, #898989, #c6c7c7, #ffffff);
  height: 98vh;
  width: 98.5vw;
  font-family: briller,sans-serif;
  font-weight: 200;
  font-style: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 80px;
  margin: 0%;
  padding-top: 1.5%;
  font-size: 70px;
  text-transform: capitalize;
  background: linear-gradient(to right, #ef5350 25%, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main{
  height: 100%;
  width: 100%;

}
.swatch-container {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}
.swatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 18%;

}
.lock-container{
  width: 15%;
  height: 10%;
}
.locks{
  height: 100%;
  width: 100%;
}

.locks:hover{
height: 135%;
transition: linear 0.8;
cursor: pointer;
}

#swatch-1{
  background: #b8f4bc;
}
#swatch-2{
  background: #fbc7c7;
}

#swatch-3{
  background: #f7fbce;
}

#swatch-4{
  background: #eecff4;
}

#swatch-5{
  background: #cecdff;
}
.hex-code {
  width: 33%;
  font-size: 1em;
}

.user-input{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  margin-bottom: 10px;
}
.users-buttons{
  height: 40%;
}

button {
  background: #4b4b4b;
  border: solid 1px black;
  border-radius: 3px;
  color: #ffffff;
  height: 100%;
}

button:hover{
   background-image: linear-gradient(90deg, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    animation:slidebg 10s linear infinite;
    color: #ffffff;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.saved-palettes{
border-top: solid blue 2px;
border-image:linear-gradient(90deg,
  #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722) 10;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 22%;
justify-content: space-between;
}

.mini-hex-container {
display: flex;
align-items: flex-start;
height: auto;
width: auto;
}

.mini-hex {
  height: 30px;
  width: 30px;
}

.hide-palettes{
height:15%
}

.hidden {
  display: none;
}

